<!-- Figure out how to pass variables. I want to pass whatever is in Username/Password to the next view -->
<!-- POST is for a request that makes changes in the database. GET should be used for requests that don't
     affect the state of the system -->
<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <small>State: </small>
    <select id="selectedState" name="selectedState">
        {% for state in states %}
            <option value="{{ state }}">{{ state }}</option>
        {% endfor %}
    </select>
    <small>City: </small>
    <select id="selectedCity" name="selectedCity">
        {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Sign Up">
</form>
<style>
    *{
        font-family: sans-serif;
    }
    h2 {
        {#max-width: 100px;#}
        font-size: 2em;
        text-align: center;
        margin-top: 100px;
        color: #6699CC;
    }

    label{
        color: gray;
    }

    small{
        color: gray;
    }

    form {
        margin: 0 auto;
        max-width: 310px;
    }

    input{
        border-radius: 5px;
        border: solid gray 1px;
        box-shadow: 2px 2px 5px #606060;
    }

    select{
        border-radius: 5px;
        border: solid gray 1px;
        box-shadow: 2px 2px 5px #606060;
        background-color: gray;
    }

    input[type="submit"]{
        margin-top: 20px;
        margin-left: 55px;
        height: 30px;
        width: 200px;
        font-size: 1.1em;
        background-color: #6699CC;
        border: solid 1px #606060;
    }

    input[type="submit"]:hover{
        color: #303032;
    }

    input[type="text"]{
        background-color: gray;
    }

    input[type="password"]{
        background-color: gray;
    }

    body {
        background-color: #303032;
    }
</style>